node_modules/
client/node_modules/
server/node_modules/

dist/
client/build/   
server/dist/    

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/

docker_vol_postgresql_data